@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular.woff") format("woff"), url("./assets/fonts/Lato-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Black.woff") format("woff"), url("./assets/fonts/Lato-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Bold.woff") format("woff"), url("./assets/fonts/Lato-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Light.woff") format("woff"), url("./assets/fonts/Lato-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1020px;
    margin: auto;
}

main {
    margin-top: 95px;
}

.header,
.services {
    padding-bottom: 6px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    scroll-margin-top: 95px;
}

#slider {
    position: relative;
}

.header:after,
#first-slide:after,
#second-slide:after,
.services:after,
.portfolio:after,
.about:after,
.quote:after {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 1020px;
    background-color: #2d303a;
    color: white;
    height: 95px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    z-index: 4;
}

.header:after {
    background-color: #323746;
}

.logo {
    font-size: 25px;
    letter-spacing: -0.5px;
}

.star {
    color: #f06c64;
}

nav {
    position: relative;
    top: 3px;
}

.link {
    font-size: 12px;
    margin: 0 13px;
    position: relative;
    color: inherit;
    text-decoration: none;
}

.link:first-child {
    margin-left: 0;
}

.link:last-child {
    margin-right: 0;
}

.link + .link:before {
    content: "";
    background-color: #2F4F4F;
    position: absolute;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    top: 50%;
    left: -13px;
    transform: translate(-50%, -50%);
}

.link:hover,
.link.active {
    color: #f06c64;
}

.slider {
    height: 600px;
    overflow: hidden;
    scroll-margin-top: 95px;
}

#first-slide {
    background-color: #f06c64;
}

#first-slide:after {
    background-color: #ea676b;
}

#second-slide:after {
    background-color: #4682b4;
}
   
.slide {
    position: relative;
    height: 100%;
    animation: 1s ease-in-out;
}

.arrow-left {
    position: absolute;
    cursor: pointer;
    height: 27px;
    width: 16px;
    left: 42px;
    top: 49%;
    transform: translateY(-50%);
    z-index: 3;
}

.arrow-right {
    position: absolute;
    cursor: pointer;
    width: 16px;
    width: 16px;
    right: 40px;
    top: 49%;
    transform: translateY(-50%);
    z-index: 3;
}

.phone-vertical {
    display: block;
    position: absolute;
    left: 110px;
    bottom: 37px;
}

#left-phone-button {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 460px;
    left: 197px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 3;
}

#left-screen {
    position: absolute;
    background-color: #2d303a;
    top: 118px;
    left: 126px;
    width: 188px;
    height: 333px;
    z-index: -1;
}

#right-screen {
    position: absolute;
    background-color: #2d303a;
    top: 187px;
    right: 202px;
    width: 333px;
    height: 190px;
    z-index: -1;
}

#right-phone-button {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 260px;
    right: 543px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 3;
}

.phone-horizontal {
    display: block;
    position: absolute;
    right: 80px;
    top: 69px;
}

.second-slide {
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;
    animation: 1s ease-in-out;
    height: 100%;
}

.services {
    background-color: #f2f2f2;
    height: 500px;
    padding: 59px 40px 60px;
    color: #666d89;
}

.services:after {
    background-color: #ffffff;
}

.services .services-headline {
    font-weight: 900;
    font-size: 30px;
}

#services-description {
    font-weight: 300;
    font-size: 18px;
    margin-top: 18px;
    line-height: 1.7;
    text-align: justify;
}

#services-container {
    margin-top: 42px;
}

.row {
    height: 123px;
    display: flex;
}

.service {
    width: 100%;
    height: 100%;
    display: flex;
}

.service + .service {
    margin-left: 20px;
}

.service .img {
    margin-top: 4px;
    padding: 9px;
    display: block;
    min-width: 59px;
    min-height: 59px;
    max-width: 59px;
    max-height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;
}   

.service-description-container {
    margin-left: 21px;
}

.service-headline {
    font-weight: 900;
    font-size: 18px;
}

.service-description {
    font-weight: 400;
    font-size: 12px;
    width: 220px;
    height: 60px;
    margin-top: 8px;
    line-height: 1.8;
    text-align: justify;
    overflow: hidden;
}

.letter-space {
    letter-spacing: -0.1px;
}

.responsive {
    letter-spacing: -0.3px;
}

.support {
    letter-spacing: 0.5px;
}

.portfolio,
.about {
    position: relative;
    padding: 59px 40px 6px;
    scroll-margin-top: 95px;
}

.portfolio {
    background-color: #2d303a;
    height: 869px;
}

.portfolio:after {
    background-color: #323746;
}

.portfolio-title,
.about-title {
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
}

.portfolio-description,
.about-description {
    font-weight: 300;
    font-size: 18px;
    color: #767e9e;
    margin-top: 18px;
    line-height: 1.7;
    text-align: justify;
}

.buttons-container {
    margin-top: 10px;
}

.button {
    font-weight: 400;
    font-size: 12px;
    outline: none;
    background-color: inherit;
    border: 1px solid #666d89;
    border-radius: 5px;
    color: #767e9e;
    text-align: center;
    line-height: 10px;
    margin-right: 7px;
    cursor: pointer;
}

.button:nth-child(-n+2) {
    padding: 5px 5.5px 5px 7px;
}

.button:nth-child(n+3) {
    padding: 5px 4.5px 5px 6px;
}

.button:hover,
.button.active {
    border-color: #ffffff;
    color: #ffffff;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-top: 9px;
    height: 620px;
    overflow: hidden;
}

.portfolio-image {
    width: 220px;
    height: 187px;
    margin: 10px;
}

.portfolio-image.active {
    border: 5px solid #F06C64;
}

.about {
    background-color: #f2f2f2;
    height: 733.5px;
}

.about:after {
    background-color: #ffffff;
}

.about-container {
    position: relative;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}

.about-person:nth-child(2) {
    margin-left: 19px;
}

.about-person:last-child {
    margin-left: 21px;
}

.about-person-name {
    font-weight: 900;
    color: #666d89;
    width: 300px;
    font-size: 18px;
    text-align: justify;
    margin-top: 11px;
    letter-spacing: -0.3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-person-description {
    font-weight: 400;
    font-size: 12px;
    color: #767e9e;
    text-align: justify;
    margin-top: 9px;
    line-height: 21px;
    letter-spacing: -0.1px;
}

.photo {
    width: 300px;
    height: 300px;
}

.social-icons {
    display: flex;
    margin-top: 24px;
    margin-left: 1px;
}

.icon {
    display: block;
    padding: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #666d89;
}

.icon:last-child {
    padding: 8px 0px;
}   

.social-icons a {
    margin-right: 8px;
}

.icon:hover {
    background-color: #ffc0cb;
}

.quote {
    position: relative;
    padding: 60px 40px 6px;
    height: 654.5px;
    background-color: #f06c64;
    color: #f0d8d9;
    scroll-margin-top: 95px;
}

.quote:after {
    background-color: #ea676b;
}

.quote-title {
    font-weight: 900;
    font-size: 30px;
}

.quote-description {
    font-weight: 300;
    font-size: 18px;
    margin-top: 18px;
    line-height: 1.65;
    text-align: justify;
}

.quote-container {
    display: flex;
    justify-content: space-between;
    margin-top: 44.5px;
}

.form {
    width: 620px;
}

.form-input,
.form-textarea {
    outline: none;
    width: 100%;
    height: 37.5px;
    border: none;
    padding: 13px 14px 13px;
    border-radius: 5px;
    color: white;
    background-color: #d6564f;
    margin-bottom: 16px;
}

.form-input:nth-child(2) {
    height: 38.5px;
}    

.form-textarea {
    height: 202.5px;
    resize: none;
    padding: 11px 14px 13px;
    letter-spacing: 0.2px; 
}

.form-button {
    font-weight: 900;
    background-color: inherit;
    color: inherit;
    border: 1px solid #f0d8d9;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #f0d8d9;
    color: #d6564f;
}

.form-input::placeholder,
.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    color: #f48c8f;
}

#message-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 4;
}

#message-block.hidden {
    display: none;
}
    
#message {
    position: absolute;
    top: calc((100% - 180px)/2);
    left: calc((100% - 250px)/2);
    overflow: auto;
    width: 250px;
    height: 180px;
    word-wrap: break-word;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background: #f0d8d9;
    color: black;
}

#close-button {
    font-weight: 900;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}

.contact-info {
    width: 301px;
    margin-right: 2px;
}

.contact-info-title {
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    padding-left: 2px;
}

.contact-info-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
    padding-left: 2px;
    text-align: justify;
    letter-spacing: -0.2px;
}

.contacts {
    margin-top: 22px;
    line-height: 22px;
}

.contact-icon {
    margin-right: 12px;
}

.contact-icon:first-child {
    margin-left: 4px;
}

.address {
    font-weight: 400;
    font-size: 12px;
    color: inherit;
    padding-left: 2px;
}

.contact-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    padding-left: 40px;
    padding-bottom: 1px;
    height: 76px;
    background-color: #2d303a;
    color: #666d89;
}

.footer-copyright {
    font-weight: 400;
    font-size: 12px;
}

.quote--icons {
    position: relative;
    display: flex;
}

.quote--icons a {
    margin-right: 8px;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

@media (max-width: 1020px) {
    
    .slider {
        height: 452px;
    }

    .phone-horizontal,
    .phone-vertical {
        width: 57%;
    }

    .phone-vertical {
        left: 11%;
        bottom: 6%;
    }

    .phone-horizontal {
        right: 8%;
        top: 12%;
    }

    .arrow-left {
        left: 3.7%;
    }

    .arrow-right {
        right: 3.7%;
    }

    #second-slide-image {
        width: 768px;
        height: 452px;
    }

    .portfolio {
        height: 1095px;
    }

    .buttons-container {
        margin-top: 39px;
    }

    .images-container {
        height: 79%;
        overflow: hidden;
        margin-top: 17px;
    }

    .portfolio-image {
        width: 30.5%;
        height: auto;
    }
    .about-container {
        width: 100%;
        overflow: hidden;
        margin-top: 38px;
    }

    .about-person {
        width: 31.7%;
    }

    .about-person-name {
        margin-top: 9px;
    }

    .about-person-description {
        margin-top: 2px;
    }

    .social-icons {
        margin-top: 13px;
    }

    .photo {
        width: 100%;
        height: auto;
    }

    .about {
        height: auto;
        padding-top: 52px;
        padding-bottom: 70px;
    }

    .about-person + .about-person {
        margin-left: 14px;
    }

    .quote {
        padding: 53px 37px 6px;
        height: 630px;
    }

    .quote-container {
        margin-top: 25px;
    }

    .form {
        width: 86%;
    }

    .form-input {
        margin-bottom: 12px;
    }

    .form-textarea {
        height: 159px;
    }

    .contacts {
        margin-top: 12px;
    }

    .contact-info {
        margin-left: 30px;
    }

    .contact-info-description {
        margin-top: 4px;
    }

    .footer {
        padding-left: 36px;
        padding-right: 38px;
    }
}


@media (max-width: 767px) {
    .header,
    .wrapper {
        width: 100%;
    }

    .form-button {
        width: 100%;
    }
 

    
}

@media (max-width: 376px) {  
    .slider {
        height: 218px;
    }

    #second-slide-image {
        width: 375px;
        height: 223px;
    }

    .header {
        height: 76px;
    }

    #nav {
        display: none;
    }

    .logo {
        position: absolute;
        left: calc((100% - 87px)/2);
        font-size: 19px;
    }

    main {
        margin-top: 76px;
    }

    .portfolio {
        height: 844px;
        padding: 42px 30px 6px;
    }

    .buttons-container {
        margin-top: 14px;
    }

    .images-container {
        height: 72%;
        margin-top: 16px;
    }

    .portfolio-image {
        width: 45%;
        margin: 7px;
    }

    .about {
        height: auto;
        padding: 33px 30px 45px;
    }

    .about-container {
        flex-direction: column;
        margin-top: 28px;
    }

    .about-person {
        width: 100%;
        margin-left: 0;
    }

    .about-person + .about-person {

        margin-left: 0;
        margin-top: 34px;

    }

    .quote {
        height: 917px;
        padding: 44px 30px 6px;

    }
  
    .quote-container {
       flex-direction: column;
       margin-top: 19px;
    }

    .form {
        width: 100%;
    }

    .contact-info {
        width: 100%;
        margin-left: 0;
        margin-top: 32px;
    }

    .contact-info-description {
        margin-top: 5px;
    }

    .contacts {
        margin-top: 12px;
        line-height: 24px;
    }

    .footer-copyright {
        display: none;
    }

    .quote--icons {
        left: calc((100% - 150px)/2);

    }
    
    #right-screen {
        display: none;
    }
}

